.UsercardMobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
  background-color: #151515b6;
  border-radius: 1rem;
  color: #fff;
  width: 40rem;
  margin-bottom: 2rem;
  display: none;
}

.UsercardMobile .UsercardMobile-state{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.UsercardMobile .UsercardMobile-name,
.UsercardMobile .UsercardMobile-role,
.UsercardMobile .UsercardMobile-action{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  word-break: break-all;
}

.UsercardMobile .UsercardMobile-name p,
.UsercardMobile .UsercardMobile-role p{
  font-size: 2rem;
}

.UsercardMobile .UsercardMobile-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}



/* ======================
      Responsive
======================== */

@media only screen and (max-width: 900px) {
  .UsercardMobile{
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .UsercardMobile .UsercardMobile-name p,
.UsercardMobile .UsercardMobile-role p{
  font-size: 1.2rem;
}

} 
  