.Newsletter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}

.Newsletter h5 {
  font-size: 4rem;
  font-weight: var(--SemiBold);
  color: #fff;
  text-transform: uppercase;
}

.Newsletter p {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}

.Newsletter input[type="email"] {
  width: 50rem;
  padding: 1.5rem 1.5rem;
  border-radius: 5px;
  background-color: #3c3b3bae;
  outline: none;
  border: none;
  font-size: 1.7rem;
  font-weight: var(--Regular);
  color: #fff;
}

.Newsletter button {
  padding: 1.5rem 1.5rem;
  border-radius: 5px;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  font-size: 1.7rem;
  font-weight: var(--SemiBold);
  color: #fff;
}

/* =================
  Responsive
=============== */

@media only screen and (max-width: 768px) {
  .Newsletter {
    margin: 10rem 0;
  }

  .Newsletter h5 {
    font-size: 3rem;
  }

  .Newsletter p {
    font-size: 1.5rem;
  }

  .Newsletter input[type="email"] {
    width: 30rem;
  }

  .Newsletter button {
    padding: 1.5rem 1.2rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 420px) {
  .Newsletter {
    margin: 20rem 0;
  }
  .Newsletter h5 {
    font-size: 2rem;
  }
  .Newsletter p {
    font-size: 1.2rem;
  }
  .Newsletter .Subscribe {
    width: 100%;
  }
  .Newsletter input[type="email"] {
    width: 100%;
    margin-bottom: 1rem;
  }
  .Newsletter button {
    padding: 1.2rem 1rem;
    font-size: 1.2rem;
    width: 100%;
  }
}
