.ExamTimer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  margin: 2rem 0;
  width: 100%;

}

.ExamTimer p{
  font-size: 2.7rem;
  font-weight: var(--SemiBold);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

 .User-levels-bar{
  width: 100%;
}

 .User-levels-bar .User-levels-bar-fill{
  width: 100%;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
} 

 .User-levels-bar .User-levels-bar-fill .User-levels-bar-fill-inner{
  height: 0.5rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}