.Exam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  padding-bottom: 60rem;
}

.Exam .Exam-wrapper {
  background-image: url(../../../../public/assets/secondary_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4rem;
  margin-bottom: 10rem;
  width: 100%;
  height: 100vh;
  position: relative;
}
.Exam .Exam-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--third-color);
  opacity: 0.9;
  z-index: 1;
}

.Exam .Pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin-top: -2rem;
}

/* ===============
   Responsive
=============== */

@media only screen and (max-width: 850px) {
  .Exam {
    padding-bottom: 190rem;
  }
}
