.Summary-page {
  width: 100%;
}

/* ================ 
  Summary-page-form
================== */

.Summary-page .Summary-page-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 1rem;
}

.Summary-page .Summary-page-form .summary-page-form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  width: 100%;
}

.Summary-page .Summary-page-form .summary-page-form-input label {
  font-size: 1.7rem;
  font-weight: var(--SemiBold);
  color: #fff;
}

.Summary-page .Summary-page-form .summary-page-form-input textarea {
  width: 100%;
  padding: 1.1rem 1.5rem;
  border-radius: 5px;
  background-color: #3c3b3bae;
  outline: none;
  border: none;
  font-size: 1.7rem;
  font-weight: var(--Regular);
  color: #fff;
  resize: none;
}
