.YourAchievementsCard{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #141414;
  border-radius: 1rem;
  padding: 2rem;
  width: 28rem;
}











/* ==================
    YourAchievementsCard-text
====================== */

.YourAchievementsCard .YourAchievementsCard-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.YourAchievementsCard .YourAchievementsCard-text h6 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  margin-bottom: 2rem;
}

.YourAchievementsCard .YourAchievementsCard-text p {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

/* ==============
   Responsive
================ */

@media (max-width: 820px) {
  .YourAchievementsCard .YourAchievementsCard-text h6{
    font-size: 1.5rem;
  }
  .YourAchievementsCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
  }

}
@media (max-width: 620px) {
  .YourAchievements h6{
    width: 90%;

  }

  .YourAchievementsCard .YourAchievementsCard-text h6{
    font-size: 2rem;
  }

  .YourAchievementsCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

    
  }
}


